/* ---------------- Google fonts ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------------ Custom fonts goes here --------------- */

/* ---------------- Basic css ------------------ */
html {
  font-size: 62.5%;
}

:root {
  scroll-behavior: unset;
  --white: #ffffff;
  --black: #000000;
  --red: #ee322f;
  --grayF1: #f1f1f1;
  --grayFc: #fcfcfc;
  --boxShadow: 0 0 2.5rem 0.1rem rgba(0, 0, 0, 0.15);
}

img {
  width: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* body */
body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  font-family: "Prompt", sans-serif;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10rem;
}

.figure img,
.figure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Prompt", sans-serif;
}

/* Font Weights */
.f_300 {
  font-weight: 300 !important;
}
.f_400 {
  font-weight: 400 !important;
}
.f_500 {
  font-weight: 500 !important;
}
.f_600 {
  font-weight: 600 !important;
}
.f_700 {
  font-weight: 700 !important;
}
.f_800 {
  font-weight: 800 !important;
}
.f_900 {
  font-weight: 900 !important;
}

/* titles */
.title_65 {
  font-size: 6.5rem;
  font-style: italic;
}
.title_55 {
  font-size: 5.5rem;
  font-style: italic;
}
.title_45 {
  font-size: 4.5rem;
  font-style: italic;
}
.title_40 {
  font-size: 4rem;
  font-style: italic;
}
.title_35 {
  font-size: 3.5rem;
}

/* texts */
.text_20 {
  font-size: 2rem;
}
.text_19 {
  font-size: 1.9rem;
}
.text_18 {
  font-size: 1.8rem;
}
.text_17 {
  font-size: 1.7rem;
}
.text_16 {
  font-size: 1.6rem;
}
.text_15 {
  font-size: 1.5rem;
}
.text_14 {
  font-size: 1.4rem;
}

/* font_italic */
.font_italic {
  font-style: italic !important;
}

/* section_shadow */
.section_shadow {
  background: url(../img/service_bg.png) no-repeat scroll top center / 100%
    50rem;
}
/* -------------- Scroll bar ------------- */
::-webkit-scrollbar {
  width: 1rem;
  /* width of the entire scrollbar */
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  /* color of the thumb */
  border-radius: 1rem;
  /* rounded corners of the thumb */
  border: 1px solid #f1f1f1;
  /* border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(133, 98, 98, 0.8);
}

/* -------------- preloader --------------- */
#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader3 {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  padding: 0;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: #000000;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* -------------- Back to top ------------ */
.back-to-top {
  width: 5.5rem;
  height: 5.5rem;
  line-height: 4.5rem;
  text-align: center;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  border-radius: 50%;
  background: #000;
  z-index: 1000;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.back-to-top img {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(288deg) brightness(102%) contrast(102%);
  -webkit-transform: rotate(-92deg);
  -ms-transform: rotate(-92deg);
  transform: rotate(-92deg);
  width: 2rem;
}

.topbtn_hide {
  opacity: 1;
}

/* -------------- Hamburger Menu --------------- */
.hamburger-menu span {
  width: 2.5rem;
  height: 0.2rem;
  background: #000;
  position: absolute;
  border-radius: 10rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-menu {
  width: 3rem;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger-menu:hover {
  opacity: 0.5;
}

.bar .line-top {
  -webkit-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transform: translateY(-0.6rem);
}

.bar .line-bottom {
  -webkit-transform: translateY(0.6rem);
  -ms-transform: translateY(0.6rem);
  transform: translateY(0.6rem);
}

.hamburger-menu.bar:hover .line-top {
  -webkit-transform: translateY(-0.7rem);
  -ms-transform: translateY(-0.7rem);
  transform: translateY(-0.7rem);
}

.hamburger-menu.bar:hover .line-bottom {
  -webkit-transform: translateY(0.7rem);
  -ms-transform: translateY(0.7rem);
  transform: translateY(0.7rem);
}

.cross .line-top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross .line-bottom {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cross .line-center {
  opacity: 0;
  width: 0;
}

/* Button */
.button {
  border: 0.2rem solid #000;
  height: 5.5rem;
  display: flex;
  width: fit-content;
  padding: 0 6.5rem;
  align-items: center;
  border-radius: 10rem;
  white-space: nowrap;
  position: relative;
}

.button:hover {
  color: #fff;
  border: 0.1rem solid #000;
  box-shadow: var(--boxShadow);
  text-decoration: none;
}

.button:before {
  width: 10%;
  content: "";
  height: 100%;
  background: #000000;
  transition: 0.35s ease;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 10rem;
  z-index: -1;
}

.button:hover:before {
  opacity: 1;
  width: 100%;
}

.gray_button {
  background: var(--grayF1);
  border-color: var(--grayF1);
  text-align: center;
  justify-content: center;
}

.gray_button:before {
  display: none;
}

.gray_button:hover {
  background: #000;
}

/* -------------- Header Styles by Sahriar --------------- */
.site_header {
  height: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999999999;
  width: 100%;
  background: #fdfdfd;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.site_header .container {
  height: 100%;
}

.dot_icon img {
  width: 3rem;
}

.user_icon {
  background: #000;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  position: relative;
}

.user_icon img {
  width: 1.5rem;
}

.user_icon p {
  position: absolute;
  white-space: nowrap;
  right: 2rem;
  transition: 0.3s ease;
  opacity: 0;
}

.user_icon:hover p {
  right: 6rem;
  opacity: 1;
}

.user_icon:hover {
  background: var(--red);
}

.logo {
  height: 10rem;
  background: #ee322f;
  display: flex;
  padding: 0 5rem;
}

.logo img {
  width: 16rem;
}

.primary_menu {
  gap: 10rem;
}

.header_right {
  gap: 2.5rem;
  height: 100%;
}

.dot_icon {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  background: #f1f1f1;
}

.menu_link {
  position: relative;
}

.menu_link:before {
  width: 1rem;
  position: absolute;
  content: "";
  height: 1rem;
  background: var(--red);
  border-radius: 10rem;
  top: 50%;
  transform: translateY(-50%) scale(0.5);
  left: -1.5rem;
  opacity: 0;
  transition: 0.2s ease;
}

.menu_link:hover:before {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

/* sticky header styles */
.sticky {
  position: fixed;
  -webkit-box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.1);
  -webkit-animation: 0.3s updown;
  animation: 0.3s updown;
}

@-webkit-keyframes updown {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes updown {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

.menu_up {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  transform: translateY(-105%);
  -webkit-box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* ======================== Hero Section ====================== */
.Hero_section {
  padding: 26rem 0 12rem 0;
}

.Hero_section .container {
  position: relative;
  z-index: 9999;
}

.section_logo {
  width: 17rem;
}

.hero_img_dots {
  position: absolute;
  z-index: 0;
  width: 13.1rem;
  pointer-events: none;
  top: -18.5rem;
  right: -20.5rem;
}

.hero_image {
  position: relative;
}

.hero_img_shape {
  position: absolute;
  width: 86.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: -1;
  pointer-events: none;
}

.hero_content p {
  padding-right: 33rem;
}

/* ======================== Hero Section ====================== */
.system_flow_section {
  padding: 7.5rem 0;
}

.system_box.one img {
  width: 8rem;
}

.system_box.two img,
.system_box.three img {
  width: 7.6rem;
}

.system_box img {
  margin-bottom: 1.5rem;
}

.system_box p {
  font-style: italic;
  font-weight: 500;
  white-space: nowrap;
}

.system_arow {
  gap: 3rem;
}

.line {
  width: 6rem;
  height: 0.2rem;
  background: #dedede;
}

.system_arow img {
  width: 1.7rem;
}

.system_flow_contents {
  padding: 4.3rem 15rem 2.2rem 15rem;
  border: 0.1rem solid #dcdcdc;
  border-radius: 10rem;
}

/* ================== Service Section ================== */
.services_section {
  padding: 10.5rem 0 15.4rem 0;
}

.service_content img {
  width: 6.7rem;
}

.service_earth {
  position: absolute;
  width: 28rem;
  right: 1.5rem;
  top: 3.2rem;
}

.service_image {
  background: #f1f1f1;
  padding: 17rem 10.6rem;
  position: relative;
  height: 60rem;
  display: grid;
  align-items: center;
}

.service_image img:first-child {
  position: relative;
  z-index: 1;
}

.services_section .Section_top {
  padding-bottom: 12.8rem;
}

.service_content p {
  line-height: 2.8rem;
}

.services_section .row .col-lg-6:first-child {
  padding-right: 2.25rem;
}

.services_section .row .col-lg-6:last-child {
  padding-left: 2.25rem;
}

.world_map {
  position: absolute;
  width: calc(100% - 6rem);
  left: 3rem;
  filter: brightness(0.2) saturate(100%) invert(85%) sepia(16%) saturate(30%)
    hue-rotate(45deg) brightness(100%) contrast(95%);
}

.service_logo {
  width: 30.1rem;
  margin: 0 auto;
}

.service_button {
  gap: 9rem;
  margin-top: 14rem;
}

.service_button .line {
  width: 100vw;
}

/* ================== Footer Section ================== */
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer_links a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer_links a img {
  width: 1.522rem;
}

.footer_box:nth-child(2) {
  padding-left: 15.5rem;
  padding-right: 11.7rem;
}

.footer_boxes {
  padding-left: 17rem;
}

.social_icons a {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #000;
  border-radius: 10rem;
}

.social_icons a:last-child img {
  width: 2rem;
}

.social_icons a:first-child img {
  width: 0.9rem;
}

.social_icons a:hover {
  background: #000;
}

.social_icons a:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(276deg) brightness(103%) contrast(101%);
}

.social_icons {
  gap: 1.5rem;
  margin-top: 8.2rem;
}

.footer_box h2 {
  line-height: 3rem;
  padding-bottom: 2.8rem;
}

.footer_links a {
  line-height: 2.4rem;
}

.site_footer {
  border-top: 1.6rem solid #ececec;
  padding: 7rem 0 4rem 0;
  background: #fff;
}

/* copywrite */
.copywrite p img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7489%)
    hue-rotate(297deg) brightness(96%) contrast(104%);
  width: 1.5rem;
}

.copywrite p:last-child {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.copywrite p {
  line-height: 1;
}

.copywrite {
  padding-top: 3rem;
  border-top: 0.1rem solid #ececec;
}

/* =============== toolshop-cap-open-page ============== */
.toolshop_section {
  padding: 6.2rem 0 13.5rem 0;
}

.toolshop-cap-open-page {
  background: #f6f6f6;
}

.plus_button {
  width: 5rem;
  height: 5rem;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 10rem;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.2s;
  border: 0.3rem solid transparent;
  color: var(--red);
}

.plus_button:hover {
  border: 0.3rem solid #f1f1f1;
  background: transparent;
}

.plus_button::before {
  content: "Add To Cart";
  font-size: 1.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  position: absolute;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  white-space: nowrap;
  opacity: 0;
}

.plus_button:hover:before {
  right: 6rem;
  opacity: 1;
}

.toolshop_box {
  background: #fff;
  padding: 2.7rem 2rem 1.8rem 2.5rem;
  border-radius: 1rem;
  display: block;
  text-decoration: none !important;
}

.toolshop_img img {
  transition: 0.2s;
}

.toolshop_box:hover > p {
  text-decoration: underline;
}

.toolshop_box:hover .toolshop_img img {
  transform: scale(1.05);
}

.toolshop_box > p {
  width: 25rem;
  line-height: 2rem;
}

.toolshop_box_bottom h2 {
  color: var(--red);
}

.row.gap_35 > * {
  padding: 0 1.75rem;
}

.row.gap_35 {
  gap: 3.5rem 0;
}

.arrow_back_link img {
  width: 2.6rem;
  transition: 0.2s;
}

.arrow_back_link:hover img {
  transform: translateX(0.5rem);
}

.tollshop_header {
  padding-bottom: 6.2rem;
}

/* ==================== My Cart ==================== */
.Cart_section {
  padding: 6.2rem 0 50rem 0;
}

.increment_decrement button {
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.increment_decrement button:hover {
  background: #000;
  color: #fff;
}

.increment_decrement {
  gap: 1rem;
}

.increse_items {
  text-align: center;
  padding: 0 5rem;
}

.cart_img img {
  width: 13.6rem;
}

.item_info p.f_500 {
  line-height: 1.3;
}

.cart_item .text_14 {
  padding-bottom: 2rem;
}

.item_price p.f_500 {
  white-space: nowrap;
}

.item_info {
  padding-left: 2.2rem;
}

.item_info .text_14 {
  padding-bottom: 0.5rem;
}

.cart_item {
  border-radius: 1rem;
  border: 0.1rem solid #f1f1f1;
}

.cart_item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.incre_decre_output {
  width: 2rem;
}
.summery > h2 {
  padding-bottom: 2.5rem;
}

.summery_inclusion_top {
  padding-bottom: 1rem;
}

.summery_total {
  padding: 2rem 0;
  border-top: 0.1rem solid #dedede;
  border-bottom: 0.1rem solid #dedede;
  margin: 2rem 0 2.5rem 0;
}

.summery {
  border-radius: 1rem;
  background: #fff;
  padding: 2.4rem 2.8rem 2.8rem 2.8rem;
  border: 0.1rem solid #f1f1f1;
}

.tollshop_header .title_45 {
  position: relative;
}

.text_sm_number {
  position: absolute;
  font-size: 2.5rem;
  color: var(--red);
  right: -3rem;
}

/* ===================== ap1_1 ====================== */
.ap1_1 .hero_content p {
  padding-right: 22rem;
}

/* ================= Chiptuning-Files–1 =================== */
.chiptab_nav {
  border: 0.1rem solid #dcdcdc;
  padding: 0;
  height: 5.5rem;
}

.chiptunning_tabs {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 10rem;
  overflow: hidden;
  background: #fff;
  border: 0.1rem solid #dcdcdc;
}

.chiptab_nav.active {
  background: #ee322f !important;
}

.chiptab_nav {
  border: none !important;
  border-right: 0.1rem solid #dcdcdc !important;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  width: 100%;
  padding: 0 2.4rem;
  margin: 0;
}

.white_arrow_down {
  width: 1rem;
}

.chiptab_nav p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}

.chiptab_nav.active p {
  color: #fff;
}

.chiptab_nav.active .chiptab_btn_icon img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(197deg) brightness(101%) contrast(103%);
}

.chiptab_nav .chiptab_btn_icon img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(0%)
    hue-rotate(108deg) brightness(93%) contrast(103%);
}

/* ========================== Chiptuning-Files–1 ============================= */
.select img {
  width: 1rem;
  transform: rotate(90deg);
}

.select {
  background: #f6f6f6;
  border-radius: 10rem;
  height: 5.5rem;
  padding: 0 2.5rem;
  cursor: pointer;
}

.selecters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.7rem;
}

.select img {
  transform: rotate(90deg);
}

.select_dropdown {
  background: #fff;
  padding: 1.5rem 1.5rem 1rem 1rem;
  box-shadow: var(--boxShadow);
  border-radius: 0.5rem;
  height: 34rem;
}

.select_list {
  overflow-y: auto;
}

.select_text {
  height: 5rem;
  border-bottom: 0.1rem solid #f1f1f1;
  display: flex;
  align-items: center;
}
